body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.5;
}

h1 {
  font-size: 3.5rem;
  color: #ffff;
  margin: 0 0 50px 0;
}

/* Container */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Title ======================================================================= */

.title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.iphone-box {
  position: relative;
}

.iphone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

@media (max-width: 1028px) {
  .title {
    text-align: center;
  }

  .iphone {
    position: static;
    transform: rotate(0);
  }
}
/*============================================================================== */

/* Features===================================================================== */

.features {
  position: relative;
}

.features-icon {
  color: #ef8172;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 15px 0;
}

.features-text {
  width: 75%;
  margin: 0 auto;
  color: #8f8f8f;
}
/*============================================================================== */

/* Testimonials================================================================= */

.testimonials {
  background-color: #ef8172;
  padding: 50px 0 0 0;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 15px 20px;
}
/*============================================================================== */

/* Press ======================================================================= */
.press {
  background-color: #ef8172;
}

.press .container-fluid {
  padding: 0 15% 7% 15%;
}

.press-image {
  width: 20%;
}
/*============================================================================== */

/* Prising ===================================================================== */

.pricing-column {
  padding: 2% 3%;
}
/*============================================================================== */


/* CTA========================================================================== */

.cta-title {
  font-size: 3.5rem;
}
/*============================================================================== */

/* Footer======================================================================= */

.footer-icon {
  margin: 0 10px 20px;
  color: #000;
}
